body {
  margin: 0;
}

div {
  height: 18vh;
  width: 100%;
}

p {
  color: white;
  font: 2.5em "Poiret One", cursive;
  margin: 0;
  padding: 20px;
}

button {
  background: white;
  border: 0;
  border-radius: 0;
  color: #696969;
  cursor: pointer;
  font: 2.5em "Poiret One", cursive;
  height: 10vh;
  padding: 1rem;
  width: 100%;
}
